$anthracite-100: #1A2328;
$anthracite-80: #484F53;
$anthracite-70: #5F6569;
$anthracite-50: #8C9193;
$anthracite-25: #C6C8C9;
$anthracite-15: #DDDEDF;
$anthracite-8: #EDEDEE;
$anthracite-4: #F6F6F6;

$blue-100:#0088DA;
$blue-20:#CCE7F8;
$blue-15:#D9EDF9;
$blue-10:#E6F3FB;
$blue-5:#F2F9FD;

$blue-pale-100: #63879C;
$blue-pale-80: #758CB1;
$blue-pale-60: #97A9C4;
$blue-pale-40: #BAC6D8;
$blue-pale-30: #CBD4E2;
$blue-pale-20: #DCE2EB;
$blue-pale-15: #E5EAF0;
$blue-pale-10: #EEF1F5;
$blue-pale-5: #F6F8FA;
$blue-saturated-100: #009FFF;
$navy-blue-100: #26438F;


$red-100: #D71515;
$red-15: #FAE3E3;
$red-5: #FDF3F3;
$dark-red-100: #A30303;
$dark-red-90: #BC2626;

$white-100: #FFFFFF;